.App {
  text-align: center;
  background-color: #3a3c41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #918E9B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  width: 400px;
  background-color: #1A1B21;
  margin: 0 auto;
}

.card-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.card-subtitle {
  color: #F3BF99;
  font-size: 14px;
  text-align: center;
}

.card-text {
  color: #F5F5F5;
  font-size: 12px;
  text-align: center;
}

.card-body {
  margin-left: 25px;
  margin-right: 15px;
}

.paragraphs {
  font-size: 10.24px;
  color: #DCDCDC;
}

.aboutme {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: bold;
}

.emailButton {
  background-color: #FFFFFF;
  color: #374151;
  border-radius: 4px;
  width: 130px;
  height: 50px;

}

.buttons {
  margin-bottom: 40px;
}


.linkedInButton {
  background-color: #5093E2;
  color: #FFFFFF;
  border-radius: 4px;
  width: 130px;
  height: 50px;
  margin-left: 10%;
}

.card-footer {
  color: #918E9B;
  background-color: #161619;

}

.TwitterFooter {
  margin-left: 20%;
  margin-right: 25px;
}

.LinkedInFooter {
  margin-left: 25px;
  margin-right: 25px;
}

.GithubFooter {
  margin-left: 25px;
}

.allbody {
  background-color: #23252C;
}